* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.result-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.h2 {
    margin-bottom: 20px;
    margin-top:20px;
}

.result-box {
    background: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: left;
}

.result-box.overall {
    background: #f0f0f0;
    font-weight: bold;
}

.logout-btn {
    display: block;
    margin: 15px auto;
    background: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}